/.metadata/
coffee-shop/.classpath
coffee-shop/.settings/org.eclipse.jdt.core.prefs
*.MF
coffee-shop/.project
*.name
*.container
coffee-shop/.settings/.jsdtscope
*.component
*.xml
*.jar
*.policy
Servers/.project
*.properties
*.prefs
